/* Nice Select Box New Design Style */
[data-id="order-type-select"] .nice-select.v1 { border: none;}
[data-id="order-type-select"] .nice-select.v1 .nice-select-list { border-radius: 2px; background: rgba(255, 255, 255, 0.70); backdrop-filter: blur(25px); }
[data-id="order-type-select"] .nice-select.v1:not(.auto-width) { min-width: 5.75rem; background: transparent; }
[data-id="order-type-select"] .nice-select.v1:not(.has-tags) .current { border: none; padding: 0 0.5rem; justify-content:center; gap: 0.5rem; }
[data-id="order-type-select"] .nice-select.v1 .current .elm_aQVICr { max-width: fit-content; }
[data-id="order-type-select"] .nice-select.v1:not(.auto-width) .nice-select-dropdown { min-width: 7.438rem; right: 0; left: auto; transform: scale(1) translateY(0px); box-shadow: none; border: 0; }
[data-id="order-type-select"] .nice-select.v1:not(.has-tags) .option { padding: 0; }
[data-id="order-type-select"] .nice-select.v1:not(.has-tags) .option .elm_aQVICr { padding: 0.75rem; }
[data-id="order-type-select"] .nice-select.v1:not(.has-tags) [data-option-label] { font-size: 0.875rem; font-weight:500; line-height: 1.25rem; color: var(--ebony-gray, #0C111D); text-transform: capitalize; }
[data-id="order-type-select"] .nice-select.v1:not(.has-tags) .current [data-option-label] { font-weight: 400; }
[data-id="order-type-select"] .nice-select.v1:not(.has-tags) .option:not(.disabled):hover, [data-id="order-type-select"] .nice-select.v1:not(.has-tags) .option.selected { background-color:transparent; }
[data-id="order-type-select"] .nice-select.v1:not(.has-tags) .option:not(.disabled):hover .elm_aQVICr { border-radius: 0px; background:var(--Base-White, #FFF);; }
[data-id="order-type-select"] .nice-select.v1:not(.has-tags) .option.selected [data-option-label] {color: var(--ebony-gray, #0C111D);}
[data-id="order-type-select"] .nice-select.v1.filter:not(.has-tags) .multiple-options.active, [data-id="order-type-select"] .nice-select.v1.filter:not(.has-tags) .current.active { background: transparent; border: 0; }
[data-id="order-type-select"] .nice-select.v1:not(.has-tags):not(.auto-width) [data-option-label] { text-wrap: nowrap; }
[data-dropdown-arrow] { width: 1rem !important; height: 1rem !important; }
[data-id="order-type-select"] .nice-select.v1.filter .current:not(.active) [data-dropdown-arrow] path, [data-id=courier-select] .nice-select.v1.filter .multiple-options:not(.active) [data-dropdown-arrow] path {
	fill: var(--secondary) !important;
}


/* Nice Select Box New Design Style */
[data-id="courier-select"] .nice-select.v1 { border: none;}
[data-id="courier-select"] .nice-select.v1 .nice-select-list { border-radius: 2px; background: rgba(255, 255, 255, 0.70); backdrop-filter: blur(25px); }
[data-id="courier-select"] .nice-select.v1:not(.auto-width) { min-width: 5.75rem; background: transparent; }
[data-id="courier-select"] .nice-select.v1:not(.has-tags) .current { border: none; padding: 0.5rem 0.75rem; justify-content:space-between; gap: 0.5rem; }
[data-id="courier-select"] .nice-select.v1 .current .elm_aQVICr { max-width: fit-content; }
[data-id="courier-select"] .nice-select.v1:not(.auto-width) .nice-select-dropdown { min-width: 7.438rem; right: 0; left: auto; transform: scale(1) translateY(0px); box-shadow: none; border: 0; }
[data-id="courier-select"] .nice-select.v1:not(.has-tags) .option { padding: 0; background: rgba(255, 255, 255, 0.50); }
[data-id="courier-select"] .nice-select.v1:not(.has-tags) .option .elm_aQVICr { padding: 0.75rem; }
[data-id="courier-select"] .nice-select.v1:not(.has-tags) [data-option-label] { font-size: 1rem; font-weight:400; line-height: 1.5rem; color: var(--Gray-900, #101828); text-transform: capitalize; }
[data-id="courier-select"] .nice-select.v1:not(.has-tags) .current [data-option-label] { font-weight: 400; }
[data-id="courier-select"] .nice-select.v1:not(.has-tags) .option:not(.disabled):hover, [data-id="order-type-select"] .nice-select.v1:not(.has-tags) .option.selected { background-color:transparent; }
[data-id="courier-select"] .nice-select.v1:not(.has-tags) .option:not(.disabled):hover .elm_aQVICr { border-radius: 0px; background:var(--Base-White, #FFF);; }
[data-id="courier-select"] .nice-select.v1:not(.has-tags) .option.selected [data-option-label] {color: var(--Gray-900, #101828);}
[data-id="courier-select"] .nice-select.v1.filter:not(.has-tags) .multiple-options.active, [data-id="order-type-select"] .nice-select.v1.filter:not(.has-tags) .current.active { background: transparent; border: 0; }
[data-id="courier-select"] .nice-select.v1:not(.has-tags):not(.auto-width) [data-option-label] { text-wrap: nowrap; }
[data-dropdown-arrow] { width: 1rem !important; height: 1rem !important; }
[data-id="courier-select"] .nice-select.v1.filter:not(.has-tags) .multiple-options.active, [data-id="courier-select"] .nice-select.v1.filter:not(.has-tags) .current.active { background: transparent; border: 0; }
[data-id="courier-select"] .nice-select.v1.filter .multiple-options:not(.active) [data-dropdown-arrow] path, .nice-select.v1.filter .current:not(.active) [data-dropdown-arrow] path { fill: none !important;}


/* Nice Select Box New Design Style */
[data-id="edit-profile"] .nice-select.v1 { border: none;}
[data-id="edit-profile"] .nice-select.v1 .nice-select-list { border-radius: 2px; background: rgba(255, 255, 255, 0.70); backdrop-filter: blur(25px); }
[data-id="edit-profile"] .nice-select.v1:not(.auto-width) { min-width: 5.75rem; background: transparent; }
[data-id="edit-profile"] .nice-select.v1:not(.has-tags) .current { border: none; padding: 0.625rem 0.875rem; justify-content:space-between; gap: 0.5rem; }
[data-id="edit-profile"] .nice-select.v1 .current .elm_aQVICr { max-width: fit-content; }
[data-id="edit-profile"] .nice-select.v1:not(.auto-width) .nice-select-dropdown { min-width: 7.438rem; right: 0; left: auto; transform: scale(1) translateY(0px); box-shadow: none; border: 0; }
[data-id="edit-profile"] .nice-select.v1:not(.has-tags) .option { padding: 0; background: rgba(255, 255, 255, 0.50); }
[data-id="edit-profile"] .nice-select.v1:not(.has-tags) .option .elm_aQVICr { padding: 0.75rem; }
[data-id="edit-profile"] .nice-select.v1:not(.has-tags) [data-option-label] { font-size: 1rem; font-weight:400; line-height: 1.5rem; color: var(--Gray-900, #101828); text-transform: capitalize; }
[data-id="edit-profile"] .nice-select.v1:not(.has-tags) .current [data-option-label] { font-weight: 400; }
[data-id="edit-profile"] .nice-select.v1:not(.has-tags) .option:not(.disabled):hover, [data-id="edit-profile"] .nice-select.v1:not(.has-tags) .option.selected { background-color:transparent; }
[data-id="edit-profile"] .nice-select.v1:not(.has-tags) .option:not(.disabled):hover .elm_aQVICr { border-radius: 0px; background:var(--Base-White, #FFF);; }
[data-id="edit-profile"] .nice-select.v1:not(.has-tags) .option.selected [data-option-label] {color: var(--Gray-900, #101828);}
[data-id="edit-profile"] .nice-select.v1.filter:not(.has-tags) .multiple-options.active, [data-id="edit-profile"] .nice-select.v1.filter:not(.has-tags) .current.active { background: transparent; border: 0; }
[data-id="edit-profile"] .nice-select.v1:not(.has-tags):not(.auto-width) [data-option-label] { text-wrap: nowrap; }
[data-dropdown-arrow] { width: 1rem !important; height: 1rem !important; }
[data-id="edit-profile"] .nice-select.v1.filter:not(.has-tags) .multiple-options.active, [data-id="edit-profile"] .nice-select.v1.filter:not(.has-tags) .current.active { background: transparent; border: 0; }
[data-id="edit-profile"] .nice-select.v1.filter .multiple-options:not(.active) [data-dropdown-arrow] path, .nice-select.v1.filter .current:not(.active) [data-dropdown-arrow] path { fill: none !important;}


/* Nice Select Box New Design Style */
[data-id="weight-type-select"] .nice-select.v1 { border: none;}
[data-id="weight-type-select"] .nice-select.v1 .nice-select-list { border-radius: 2px; background: rgba(255, 255, 255, 0.70); backdrop-filter: blur(25px); }
[data-id="weight-type-select"] .nice-select.v1:not(.auto-width) { min-width: auto; background: transparent; }
[data-id="weight-type-select"] .nice-select.v1:not(.has-tags) .current { border: none; padding: 0.5rem 0.75rem; justify-content:space-between; gap: 0.5rem; }
[data-id="weight-type-select"] .nice-select.v1 .current .elm_aQVICr { max-width: fit-content; }
[data-id="weight-type-select"] .nice-select.v1:not(.auto-width) .nice-select-dropdown { min-width: 7.438rem; right: 0; left: auto; transform: scale(1) translateY(0px); box-shadow: none; border: 0; }
[data-id="weight-type-select"] .nice-select.v1:not(.has-tags) .option { padding: 0; background: rgba(255, 255, 255, 0.50); }
[data-id="weight-type-select"] .nice-select.v1:not(.has-tags) .option .elm_aQVICr { padding: 0.75rem; }
[data-id="weight-type-select"] .nice-select.v1:not(.has-tags) [data-option-label] { font-size: 1rem; font-weight:400; line-height: 1.5rem; color: var(--Gray-900, #101828); text-transform: capitalize; }
[data-id="weight-type-select"] .nice-select.v1:not(.has-tags) .current [data-option-label] { font-weight: 400; }
[data-id="weight-type-select"] .nice-select.v1:not(.has-tags) .option:not(.disabled):hover, [data-id="weight-type-select"] .nice-select.v1:not(.has-tags) .option.selected { background-color:transparent; }
[data-id="weight-type-select"] .nice-select.v1:not(.has-tags) .option:not(.disabled):hover .elm_aQVICr { border-radius: 0px; background:var(--Base-White, #FFF);; }
[data-id="weight-type-select"] .nice-select.v1:not(.has-tags) .option.selected [data-option-label] {color: var(--Gray-900, #101828);}
[data-id="weight-type-select"] .nice-select.v1.filter:not(.has-tags) .multiple-options.active, [data-id="weight-type-select"] .nice-select.v1.filter:not(.has-tags) .current.active { background: transparent; border: 0; }
[data-id="weight-type-select"] .nice-select.v1:not(.has-tags):not(.auto-width) [data-option-label] { text-wrap: nowrap; }
[data-dropdown-arrow] { width: 1rem !important; height: 1rem !important; }
[data-id="weight-type-select"] .nice-select.v1.filter:not(.has-tags) .multiple-options.active, [data-id="weight-type-select"] .nice-select.v1.filter:not(.has-tags) .current.active { background: transparent; border: 0; }
[data-id="weight-type-select"] .nice-select.v1.filter .multiple-options:not(.active) [data-dropdown-arrow] path, .nice-select.v1.filter .current:not(.active) [data-dropdown-arrow] path { fill: none !important;}


/* Nice Select Box New Design Style */
[data-id="profile-visibility"] .nice-select.v1 { border: none;}
[data-id="profile-visibility"] .nice-select.v1 .nice-select-list { max-height: 26rem;}
[data-id="profile-visibility"] .nice-select.v1:not(.auto-width) { min-width: 5.75rem; background: transparent; }
[data-id="profile-visibility"] .nice-select.v1:not(.has-tags) .current { border: none; padding: 0.5rem; justify-content:space-between; gap: 0.5rem; height: 2rem; }
[data-id="profile-visibility"] .nice-select.v1 .current .elm_aQVICr { max-width: fit-content; }
[data-id="profile-visibility"] .nice-select.v1:not(.auto-width) .nice-select-dropdown { min-width: 13.75rem; right: 0; left: auto; transform: scale(1) translateY(0px); border-radius: 5px;
background: rgba(255, 255, 255, 0.90); box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.20); backdrop-filter: blur(50px); overflow:hidden; }
[data-id="profile-visibility"] .nice-select.v1:not(.has-tags) .option { padding: 0; }
[data-id="profile-visibility"] .nice-select.v1:not(.has-tags) .option:last-child > .elm_aQVICr { border: 0; }
[data-id="profile-visibility"] .nice-select.v1:not(.has-tags) .option .elm_aQVICr { padding: 1rem; border-bottom: 1px solid var(--Gray-200, #EAECF0); }
[data-id="profile-visibility"] .nice-select.v1:not(.has-tags) [data-option-label] { font-size: 1rem; font-weight:500; line-height: 1.5rem; color: var(--Gray-950, #0C111D); text-transform: capitalize; }
[data-id="profile-visibility"] .nice-select.v1:not(.has-tags) .current [data-option-label] { font-weight: 500; }
[data-id="profile-visibility"] .nice-select.v1:not(.has-tags) .option:not(.disabled):hover, [data-id="edit-profile"] .nice-select.v1:not(.has-tags) .option.selected { background-color:transparent; }
[data-id="profile-visibility"] .nice-select.v1:not(.has-tags) .option:not(.disabled):hover .elm_aQVICr { border-radius: 0px; background:var(--Base-White, #FFF);; }
[data-id="profile-visibility"] .nice-select.v1:not(.has-tags) .option.selected [data-option-label] {color: var(--Gray-900, #101828);}
[data-id="profile-visibility"] .nice-select.v1.filter:not(.has-tags) .multiple-options.active, [data-id="edit-profile"] .nice-select.v1.filter:not(.has-tags) .current.active { background: transparent; border: 0; }
[data-id="profile-visibility"] .nice-select.v1:not(.has-tags):not(.auto-width) [data-option-label] { text-wrap: nowrap; }
[data-dropdown-arrow] { width: 1rem !important; height: 1rem !important; }
[data-id="profile-visibility"] .nice-select.v1.filter:not(.has-tags) .multiple-options.active, [data-id="edit-profile"] .nice-select.v1.filter:not(.has-tags) .current.active { background: transparent; border: 0; }
[data-id="profile-visibility"] .nice-select.v1.filter .multiple-options:not(.active) [data-dropdown-arrow] path, .nice-select.v1.filter .current:not(.active) [data-dropdown-arrow] path { fill: none !important}
[data-id="profile-visibility"] .nice-select.v1 [data-option-description-container] { display: flex; flex-direction: column; gap: 0.25rem; }
[data-id="profile-visibility"] .nice-select.v1:not(.has-tags) .option.selected { background: 0 0; }
[data-id="profile-visibility"] .nice-select.v1.filter:not(.has-tags) .current.active { background: 0 0; border: 0; }

/* Conditions dropdown */
[data-conditions-dropdown] .nice-select.v1 { border: none;}
[data-conditions-dropdown] .nice-select.v1:not(.auto-width) { min-width: 11.875rem; height: 100%; border-radius: 0px; }
[data-conditions-dropdown] .nice-select.v1:not(.has-tags) .current { border: none; padding: 0.5rem 0.75rem; justify-content:center; gap: 0.25rem; min-height: 2.25rem; justify-content: space-between; }
[data-conditions-dropdown] .nice-select.v1 .current .elm_aQVICr { max-width: fit-content; align-items: center; gap: 0.25rem; }
[data-conditions-dropdown] .nice-select.v1:not(.auto-width) .nice-select-dropdown { min-width: 13.75rem; right: auto; left: 0; transform: scale(1) translateY(0px); background: rgba(255, 255, 255, 0.90); box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.20); backdrop-filter: blur(50px); border: 0; border-radius: 0; }
[data-conditions-dropdown] .nice-select.v1:not(.has-tags) .option { padding: 0; }
[data-conditions-dropdown] .nice-select.v1:not(.has-tags) .option.selected { background: transparent; }
[data-conditions-dropdown] .nice-select.v1:not(.has-tags) .option .elm_aQVICr { padding: 1rem 0.75rem; border-bottom: 1px solid var(--Gray-200, #EAECF0); align-items: center; gap: 0.25rem; }
[data-conditions-dropdown] .nice-select.v1:not(.has-tags) [data-option-label] { font-size: 1rem; font-weight:500; line-height: 1.5rem; color: var(--Gray-950, #0C111D); text-transform: capitalize; }
[data-conditions-dropdown] .nice-select.v1:not(.has-tags) .option:not(.disabled):hover, [data-id="order-type-select"] .nice-select.v1:not(.has-tags) .option.selected { background-color:transparent; }
[data-conditions-dropdown] .nice-select.v1:not(.has-tags) .option.selected [data-option-label] {color: var(--ebony-gray, #0C111D);}
[data-conditions-dropdown] .nice-select.v1.filter:not(.has-tags) .multiple-options.active, [data-conditions-dropdown] .nice-select.v1.filter:not(.has-tags) .current.active { background: transparent; border: 0; }
/*[data-conditions-dropdown] .nice-select.v1:not(.has-tags):not(.auto-width) [data-option-label] { text-wrap: nowrap; }*/
[data-dropdown-arrow] { width: 1rem !important; height: 1rem !important; }
[data-conditions-dropdown] .nice-select.v1.filter .current:not(.active) [data-dropdown-arrow] path, [data-id=courier-select] .nice-select.v1.filter .multiple-options:not(.active) [data-dropdown-arrow] path {
	fill: var(--secondary) !important;
}
[data-conditions-dropdown] .nice-select-icon svg{ width: 1rem !important; height: 1rem !important; }
[data-conditions-dropdown] .nice-select.v1 .current.active .nice-select-icon path { fill: revert-layer; }

/* All dropdown icon color like subscriptions rose pink */
[data-icon-theme="subscriptions"] .nice-select-icon svg { filter: brightness(0) saturate(100%) invert(66%) sepia(43%) saturate(3761%) hue-rotate(306deg) brightness(101%) contrast(98%); }

/* All dropdown icon color like merch blue */
[data-icon-theme="merch"] .nice-select-icon svg { filter: brightness(0) saturate(100%) invert(65%) sepia(51%) saturate(2574%) hue-rotate(156deg) brightness(109%) contrast(87%); }

/* All dropdown icon color like media violet */
[data-icon-theme="media"] .nice-select-icon svg { filter: brightness(0) saturate(100%) invert(62%) sepia(37%) saturate(4362%) hue-rotate(234deg) brightness(102%) contrast(103%); }

/* All dropdown icon color like profile light blue */
[data-icon-theme="profile"] .nice-select-icon svg { filter: brightness(0) saturate(100%) invert(54%) sepia(90%) saturate(3132%) hue-rotate(202deg) brightness(101%) contrast(101%); }

/* Color change as per dropdown type*/
[data-dropdown-type="subscriptions"] .nice-select.v1:not(.has-tags) .option:hover .elm_aQVICr { border-bottom: 1px solid var(--Gray-200, #EAECF0); background: var(--Ros-50, #FFF1F3); }
[data-dropdown-type="subscriptions"][data-conditions-dropdown] .nice-select.v1:not(.auto-width) { background: var(--Ros-50, #FFF1F3); }
[data-dropdown-type="subscriptions"][data-conditions-dropdown] .nice-select.v1.open { border-bottom: 1.5px solid var(--Error-400, #F97066); background: var(--Ros-100, #FFE4E8); }

[data-dropdown-type="merch"] .nice-select.v1:not(.has-tags) .option:hover .elm_aQVICr { border-bottom: 1px solid var(--Gray-200, #EAECF0); background: var(--Cyan-50, #ECFDFF); }
[data-dropdown-type="merch"][data-conditions-dropdown] .nice-select.v1:not(.auto-width) { background: var(--Cyan-50, #ECFDFF); border-bottom: 1.5px solid var(--Cyan-50, #ECFDFF); }
[data-dropdown-type="merch"][data-conditions-dropdown] .nice-select.v1.open { border-bottom: 1.5px solid var(--Cyan-400, #2CE); background: var(--Cyan-100, #CFF9FE); }

[data-dropdown-type="media"] .nice-select.v1:not(.has-tags) .option:hover .elm_aQVICr { border-bottom: 1px solid var(--Gray-200, #EAECF0); background: var(--Fuchsia-50, #FDF4FF); }
[data-dropdown-type="media"][data-conditions-dropdown] .nice-select.v1:not(.auto-width) { background: var(--Fuchsia-500, #FDF4FF); border-bottom: 1.5px solid var(--Fuchsia-500, #FDF4FF); }
[data-dropdown-type="media"][data-conditions-dropdown] .nice-select.v1.open { border-bottom: 1.5px solid var(--Fuchsia-400, #E478FA); background: var(--Fuchsia-100, #FBE8FF); }

[data-dropdown-type="profile"] .nice-select.v1:not(.has-tags) .option:hover .elm_aQVICr { border-bottom: 1px solid var(--Gray-200, #EAECF0); background: var(--Blue-dark-50, #EFF4FF); }
[data-dropdown-type="profile"][data-conditions-dropdown] .nice-select.v1:not(.auto-width) { background: var(--Blue-dark-50, #EFF4FF); }
[data-dropdown-type="profile"][data-conditions-dropdown] .nice-select.v1.open { border-bottom: 1.5px solid var(--Blue-dark-400, #528BFF); background: var(--Blue-dark-100, #D1E0FF); }

/* Size abd description position change as per dropdown description type*/
[data-description-type="large"] .nice-select.v1:not(.has-tags) .option .elm_aQVICr {  flex-direction: column; display: flex; align-items: flex-start; }
[data-description-type="large"] .nice-select-dropdown [data-option-description-container] { margin-top: -24px; flex: 0 0 auto !important; }
[data-conditions-dropdown][data-description-type="large"] .nice-select-dropdown [data-option-label] { margin-left: 1.25rem; margin-top: 0.05rem; }
[data-description-type="large"] .nice-select-dropdown [data-option-description] { margin-top: 0.25rem; white-space: normal; font-size: 0.75rem; line-height: 1.125rem; }

[data-select-size="large"][data-conditions-dropdown] .nice-select.v1:not(.auto-width) {min-width: 20rem;}
[data-description-type="large"][data-conditions-dropdown] .nice-select.v1:not(.has-tags) [data-option-label] { font-weight: 400; }
[data-description-type="small"][data-conditions-dropdown] [data-option-description] { white-space: break-spaces; }

/* icon display none as per dropdown select icon false*/
[data-select-icon="false"] .current .nice-select-icon { display: none; }

/* background Color change as per dropdown data select theme type*/
[data-select-theme="default"][data-conditions-dropdown] .nice-select.v1:not(.auto-width) { background: transparent; }
[data-select-theme="default"][data-conditions-dropdown] .nice-select.v1.open { border-bottom: 1.5px solid var(--Base-Black, #000); background: var(--Base-White, #FFF); }