/* Button style */
[data-button="editor icon"]:active { background: var(--color-athens-gray2, #F9FAFB); }
[data-color="green"]:hover img { filter: brightness(0) saturate(100%) invert(50%) sepia(94%) saturate(408%) hue-rotate(100deg) brightness(93%) contrast(87%); } /* #17B26A */
[data-color="black"]:hover img { filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(335deg) brightness(93%) contrast(107%); } /* #000 */
[data-color="black"]:hover { background: var(--color-brand-green, #07F468); color: #000; }
[data-color="gray"] { background: rgba(152, 162, 179, 0.50); border-color: rgba(89, 96, 106, 0.50); }
button[data-color="gray"]:not(:disabled):hover span { color: #fff !important; }

[data-button-style="skew-left"]:before,
[data-button-style="skew-left top"]:before,
[data-button-style="skew-right top"]:before,
[data-button-style="skew-right bottom"]:before { content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    -webkit-box-shadow: 4px 4px 0 0 #000;
    box-shadow: 4px 4px 0 0 #000;
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out; }

    [data-button-style="skew-left"]:after {
    content: '';
    display: block;
    width: 2rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: -1rem;
    z-index: -1;
    -webkit-box-shadow: 4px 4px 0 0 #000;
    box-shadow: 4px 4px 0 0 #000;
    -webkit-transform: skew(-20deg, 0) translateX(3px);
    transform: skew(-20deg, 0) translateX(3px);
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
[data-button-style="skew-left top"]:after{
    content: '';
    display: block;
    width: 2rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: -1rem;
    z-index: -1;
    -webkit-box-shadow: 4px 4px 0 0 #000;
    box-shadow: 4px 4px 0 0 #000;
    -webkit-transform: skew(20deg, 0) translateX(3px);
    transform: skew(20deg, 0) translateX(3px);
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
[data-button-style="skew-right top"]:after{
   content: '';
   display: block;
   width: 1.8rem;
   height: 100%;
   position: absolute;
   top: 0;
   right: -1rem;
   z-index: 1;
   -webkit-box-shadow: 4px 4px 0 0 #000;
   box-shadow: 4px 4px 0 0 #000;
   -webkit-transform: skew(-20deg, 0) translateX(3px);
   transform: skew(-20deg, 0) translateX(3px);
   -webkit-transition: all 0s ease-in-out;
   transition: all 0s ease-in-out;
}
[data-button-style="skew-right bottom"]:after{
   content: '';
   display: block;
   width: 1rem;
   height: 100%;
   position: absolute;
   top: 0;
   right: -0.563rem;
   z-index: 1;
   -webkit-box-shadow: 4px 4px 0 0 #000;
   box-shadow: 4px 4px 0 0 #000;
   -webkit-transform: skew(20deg, 0) translateX(0px);
   transform: skew(20deg, 0) translateX(0px);
   -webkit-transition: all 0s ease-in-out;
   transition: all 0s ease-in-out;
}

[data-button-shadow="no"]:before,
[data-button-shadow="no"]:after { box-shadow: none;}
[data-button-shadow="no"]:after{ width: 1rem; right: -0.4rem; }
[data-button-color="grey"],
[data-button-color="grey"]:after { background-color: var(--color-mischka, #d0d5dd); }

[data-button-color="green"],
[data-button-color="green"]:after { background-color: var(--color-brand-green, #07F468); }

[data-button-color="blue"],
[data-button-color="blue"]:after { background-color: var(--color-electric-violet, #4D20FF); }

[data-button-color="wild-strawberry"],
[data-button-color="wild-strawberry"]:after { background: linear-gradient(135deg, #F093FB 0%, #FF439D 100%); }

[data-button-color=black],
[data-button-color=black]:after {
    background-color: var(--color-mischka, #000)
}

[data-button-type="drag"] { background-color: var(--color-mischka, #D0D5DD); }
[data-button-type="drag"]:before {
   content: "";
    position: absolute;
    border: 2px dashed #000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

[data-button-style="skew-left shadow-none"] {
   clip-path: polygon(8% 0%, 100% 0, 105% 105%, 0% 105%);
   padding-left: 1.2rem;
}

[data-button-style="skew-right bottom shadow-none"]:after {
   content: '';
   display: block;
   width: 1rem;
   height: 100%;
   position: absolute;
   top: 0;
   right: -0.563rem;
   z-index: 1;
   -webkit-box-shadow: none;
   box-shadow: none;
   -webkit-transform: skew(20deg, 0) translateX(0px);
   transform: skew(20deg, 0) translateX(0px);
   -webkit-transition: all 0s ease-in-out;
   transition: all 0s ease-in-out;
}

