/* Loader Animation */
.elm_cWpNRq {
   transform-origin: center;
   -webkit-transform-origin: center;
   animation: elm_jVsoBw 1s infinite linear;
   -webkit-animation: elm_jVsoBw 1s infinite linear;
   animation-name: elm_jVsoBw, fallback;
}

@-webkit-keyframes elm_jVsoBw {
   100% {
       -webkit-transform: rotate(360deg);
       transform: rotate(360deg);
   }
}

@keyframes elm_jVsoBw {
   100% {
       transform: rotate(360deg);
   }
}

/* Button Spinner Different color theme */
[data-spinner-gradient] svg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
}
@keyframes rotate 
{
  from {transform: rotate(105deg);}
  to {transform: rotate(465deg);}
}
.rotating {
     
     animation-name: rotate;
     animation-duration: 1200ms;
     animation-iteration-count: infinite;
     animation-timing-function: cubic-bezier(0.4, 0.4, 0.2, 0.4);
     transform-origin: 300px 300px;
 }
/* Purple and Black Theme */
[data-spinner-theme="purple_black"] {
   
}