/* Adaptive font size */
html { font-size: 16px; }

/* Colors */

/* Background Colors*/
.bg--col--white--responsive-mobile { background: rgba(255, 255, 255, 1.0); }
.bg--col--white--70--responsive-mobile { background: rgba(255, 255, 255, 0.70); }
.bg--col--athens-gray--70--responsive-mobile { background-color: rgba(249, 250, 251, 0.70); }

/* Background Gradients*/

/* Border Colors */

/* Fill Colors */

/* Stroke Colors */

/* Filter Colors */

/* Hover Filter Colors */

/* Caret Colors */

/* Hover Background Colors */

/* Hover Colors */

/* Active State Background Colors*/

/* Active State Filter Colors */

/* Active State Border Colors */

/* Font Size */
.fs--18-responsive-mobile { font-size: 1.125rem; /* font-size 18px */  } /* confirmed in use */ /* pixel conversion correct */

/* Line Height */
.lh--28-responsive-mobile { line-height: 1.75rem; /* line-height 28px */ } /* confirmed in use */ /* pixel conversion correct */

/* Letter Spacing */ 

/* Word Break */

/* Background Style */
.bg--center-top-responsive-mobile { background-position: center top; }

/* Width */
.w--32--responsive-mobile { width: 2rem; /* width 32px */ }
.w--423-responsive-mobile { width: 26.438rem; }
.w--390-responsive-mobile { width: 24.375rem; }
.vw--100--responsive-mobile { width: 100vw; /* width 100vw */ }

/* Width Percent */

/* Width (px) */

/* Min Width */

/* Max Width */

/* Height */
.h--32--responsive-mobile { height: 2rem; /* height 32px */ }
.h--48-responsive-mobile { height: 3rem; /* height 48px*/ }
.h--327-responsive-mobile { height: 20.45925rem; }
.h--274-responsive-mobile { height: 17.125rem; }

/* Height Percent */

/* Height (px) */

/* Min Height */

/* Max Height */

/* Padding */
.pad--0-responsive-mobile { padding: 0rem; /* padding top bottom left right 0px */ }
.pad--top--52-responsive-mobile { padding-top: 3.28rem;}
.pad--bottom--0-responsive-mobile { padding-bottom: 0rem; /* padding bottom 0px */ }
.pad--top--64-responsive-mobile { padding-top: 4rem; /* padding top 64px */ }
.pad--bottom--24-responsive-mobile { padding-bottom: 1.5rem; /* padding bottom 24px */ }
.pad--x--0-responsive-mobile { padding-left: 0rem; padding-right: 0rem; /* padding left right 0px */ }
.pad--x--16-responsive-mobile { padding-left: 1rem; padding-right: 1rem; /* padding left right 16px */ }
.pad--y-0-responsive-mobile { padding-top: 0rem; padding-bottom: 0rem; /* padding top 96px padding bottom 96px */ }
.pad--y--8--responsive-mobile { padding-top: 0.5rem; padding-bottom: 0.5rem; /* padding top 8px padding bottom 8px */ }

/* Margin */

/* Display */
.display-none--responsive-mobile { display: none; }
.display-flex--responsive-mobile { display: flex; }
.display-grid--responsive-mobile { display: grid; }

/* Gap */
.gap--16--responsive-mobile { gap: 1rem; }

/* Flexbox */
.dn-responsive-mobile { display: flex; }
.flex--column-responsive-mobile { flex-direction: column; }
.items--start-responsive-mobile { align-items: flex-start; }

/* Grid */
.grid--cols-2-responsive-mobile { grid-template-columns: repeat(2, minmax(0, 1fr)); }
.grid--cols-4--responsive-mobile { grid-template-columns: repeat(4, 1fr); }

/* Grid Column */
.grid--col-span-2-responsive-mobile { grid-column: span 2 / span 2; }

/* Order */
.flex-column-reverse--responsive-mobile { flex-direction:column-reverse; }
.order--1-responsive-mobile { order: 1; }
.order--2-responsive-mobile { order: 2; }

/* Position */
.fixed--responsive-mobile { position: fixed; }

/* Top */
.top--0--responsive-mobile { top: 0rem; }
.top--64-responsive-mobile { top: 4rem; }

/* Bottom */
.bottom--80-responsive-mobile { bottom: 5rem; }

/* Left */
.left--0--responsive-mobile { left: 0rem; }
.left--17-responsive-mobile { left: 1.063rem; }

/* Right */
.right--8-responsive-mobile { right: 0.5rem; }

/* Z-Index */

/* Opacity */

/* Hover Opacity */

/* Object Fit */

/* Backdrop Filter */
.bg--blur--25--responsive-mobile { backdrop-filter: blur(25px); }

/* Box Shadow */
.sh--none--responsive-mobile { box-shadow: none; }

/* Drop Shadow */

/* Text Shadow */

/* Overflow */

/* Cursor Style */ 

/* Border */

/* Border Width */
