.hov--bg--col-light-blue:hover {
	background: rgba(41, 112, 255, 0.2);
}
.top--152 {
	top: 9.5rem;
}
.pad--left--4 {
	padding-left: 0.25rem;
}
.pad--right--2 {
	padding-right: 0.125rem;
}
.hover--br--col--milano-red:hover {
	border-color: var(--color-milano-red, #bc1b06);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.pad--2-responsive-mobile {
		padding: 0.125rem;
	}
}
@media screen and (max-width: 479px) {
	.pad--2-responsive-mobile-tablet {
		padding: 0.125rem;
	}
}

[data-tab-nav-menu="views"] li.active {
	background-color: var(--color-ebony-2, #0c111d);
}
[data-tab-nav-menu="views"] li.active [data-span-icon] img {
	-webkit-filter: brightness(0) saturate(100%) invert(99%) sepia(99%)
		saturate(0%) hue-rotate(176deg) brightness(107%) contrast(100%);
	filter: brightness(0) saturate(100%) invert(99%) sepia(99%) saturate(0%)
		hue-rotate(176deg) brightness(107%) contrast(100%);
}

[data-tab-nav-menu="media-status"] li.active {
	background-color: var(--Base-White, #fff);
}
[data-tab-nav-menu="media-status"] li.active [data-span-title],
[data-tab-nav-menu="media-status"] li.active [data-count-text] {
	color: var(--color-oxford-blue, #344054);
}

[data-form-input-type="checkbox"]
	input[type="checkbox"][data-filter-select-all] {
	margin: 0;
}

/* Copied from assets/new-profile/profilePage.css */
/* Media Details Popup */
/***/
/* VideoJS UI customizations */
[data-media-details-popup] {
	transition: opacity 0.3s;
}

[data-media-details-popup].o-0 {
	opacity: 0;
	pointer-events: none;
}

[data-media-details-popup] .video-js {
	width: 100%;
	height: 100%;
}

[data-media-details-popup]:hover .vjs-control-bar,
[data-media-details-popup]:not([playing]) .vjs-control-bar {
	display: flex;
	visibility: visible !important;
	opacity: 1 !important;
}

[data-media-details-popup] .vjs-control-bar {
	background-color: transparent;
}

[data-media-details-popup] .video-js::after {
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.9)
	);
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 1s linear 0.6s;
	z-index: 2;
}

[data-media-details-popup] [data-media-big-image]::after {
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.9)
	);
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity 1s linear 0.6s;
	z-index: 2;
}

[data-media-details-popup]:hover .video-js::after,
[data-media-details-popup]:not([playing]) .video-js::after {
	opacity: 1;
	transition: opacity 50ms;
}

[data-media-details-popup] .video-js .vjs-play-progress {
	background: var(--color-light-warm-green, #9fff02);
}

[data-media-details-popup] .video-js .vjs-play-progress:before {
	color: var(--color-light-warm-green, #9fff02);
	line-height: 0.2rem;
}

[data-media-details-popup] .video-js video,
[data-media-details-popup] .vjs-poster img {
	-o-object-fit: cover;
	object-fit: cover;
}

[data-media-details-popup] .vjs-control-bar {
	z-index: 3;
}

[data-media-details-popup] .video-js .vjs-load-progress,
[data-media-details-popup] .video-js .vjs-load-progress div {
	background-color: transparent;
}

[data-media-details-popup] .video-js .vjs-slider {
	background-color: rgba(255, 255, 255, 0.2);
}

/* Custom CSS to change the layout of the controls */
[data-media-details-popup] .video-js .vjs-control-bar {
	display: flex;
	flex-wrap: wrap;
}

[data-media-details-popup] .video-js .vjs-progress-control {
	order: -1;
	flex: 1 0 100%;
}

[data-media-details-popup] .video-js .vjs-control-bar {
	bottom: 3.75rem;
}

[data-media-details-popup] .video-js .vjs-volume-panel {
	flex: 1;
	justify-content: flex-end;
}

[data-media-details-popup] .video-js .vjs-control-bar {
	width: unset;
	left: 1.5rem;
	right: 1.5rem;
	font-size: 1rem;
	background: transparent;
}

[data-media-details-popup] .video-js button:hover span,
[data-media-details-popup] .vjs-time-control span {
	color: var(--button-text-color);
}

[data-media-details-popup] .vjs-time-control span {
	color: var(--button-text-color);
	font-size: 0.75rem;
	font-family: "Poppins", sans-serif;
}

[data-media-details-popup] .video-js .vjs-progress-holder {
	height: 0.1875rem;
}

[data-media-details-popup]
	.video-js
	.vjs-volume-panel:not(.vjs-hover):active
	.vjs-volume-control.vjs-volume-horizontal,
[data-media-details-popup]
	.video-js
	.vjs-volume-panel:not(.vjs-hover):focus
	.vjs-volume-control.vjs-volume-horizontal {
	visibility: visible;
	opacity: 0;
	width: 1px;
	height: 1px;
	margin-left: -1px;
}

[data-media-details-popup] .video-js .vjs-current-time,
[data-media-details-popup] .video-js .vjs-duration,
[data-media-details-popup] .vjs-live .vjs-time-control,
[data-media-details-popup] .vjs-time-divider {
	display: block;
}

[data-media-details-popup] .video-js .vjs-time-control {
	padding-right: 0;
	min-width: unset;
}

[data-media-details-popup] .vjs-time-control:not(.vjs-current-time) {
	padding-left: 0;
}

/***/
/* CUSTOM */
[data-media-details-popup][playing] [data-media-actions],
[data-media-details-popup][playing] [info] {
	opacity: 0;
}

[data-media-details-popup][data-media-access="false"][playing] [info] {
	opacity: 0.5;
}

[data-media-details-popup] [info]:hover {
	opacity: 1 !important;
}

[data-media-details-popup] [data-media-actions],
[data-media-details-popup] [info] {
	transition: opacity 1s;
}

[data-media-details-popup]:hover [data-media-actions],
[data-media-details-popup]:hover [info] {
	transition: opacity 0.3s;
}

[data-media-details-popup][data-media-access="true"][playing] [info] {
	pointer-events: none;
}

[data-media-details-popup]:hover [data-media-actions] {
	opacity: 1;
}

[data-media-action] {
	background: rgba(233, 229, 211, 0.05);
	border: 0.5px solid rgba(233, 229, 211, 0.25);
}

[data-media-action][like-media][liked] path,
[data-media-action][like-media]:hover path {
	stroke: transparent;
	fill: var(--color-light-warm-green);
}

[data-media-details-popup] [data-media-information-wrapper]{
	bottom: 1.88rem;
}

[data-media-details-popup] [data-media-information-container] {
	border-left: 0.5px solid var(--Gray-warm-200, #E7E5E4);
}

.bottom--40 {
	bottom: 2.5rem;
}
.w--900 {
	width: 56.25rem;
}
.bottom--40 {
	bottom: 2.5rem;
}
/* End Media Detail Popup */


@media screen and (max-width: 1365px){
	.mx--24.mx--16-responsive-tablet-landscape {
		margin-left: 1rem;
		margin-right: 1rem
	}
}

@media screen and (max-width: 1009px){
	.mx--16-responsive-tablet{
		margin-left: 1rem;
		margin-right: 1rem
	}
}