[data-role="country"].nice-select.v1,[data-role="state"].nice-select.v1, [data-role="country"].nice-select.v1:not(.has-tags) .current, [data-role="state"].nice-select.v1:not(.has-tags) .current {
	border: 0;
}

[data-role="country"].nice-select.v1:not(.auto-width), [data-role="state"].nice-select.v1:not(.auto-width) {
    min-width: 5.75rem;
    background: 0 0;
}

/* state and country field style  */
#shipping_state_field span.optional, #shipping_country_field span.optional {
    display: none;
}

/* MAIA note: To move dashboard-styles-mobile.css */
@media screen and (min-width: 480px) and (max-width: 767px) {
    .top--28-responsive-mobile {
        top: 1.5rem;
    }
	.right--16-responsive-mobile {
		right: 1rem
	}
}

/* MAIA note: To move dashboard-styles-mobile-portrait.css */
@media screen and (max-width: 479px) {
    .top--28-responsive-mobile-portrait {
        top: 1.5rem;
    }
}