/* Adaptive font size */
html { font-size: 16px; }

/* Width */
.w--auto-responsive-tablet { width: auto; }
.w--100-responsive-tablet { width: 100%; }
.w--390-responsive-tablet { width: 24.375rem; }

/* Height */
.h--274-responsive-tablet { height: 17.125rem; }

/* Padding */
.pad--0-responsive-tablet { padding: 0rem; /* padding top bottom left right 0px */ }
.pad--top--52-responsive-tablet { padding-top: 3.28rem;}
.pad--y--24-responsive-tablet { padding-top: 1.5rem; padding-bottom: 1.5rem; /* padding top bottom 24px */ }
.pad--x--0-responsive-tablet { padding-left: 0rem; padding-right: 0rem; /* padding left right 0px */ }
.pad--x--16-responsive-tablet { padding-left: 1rem; padding-right: 1rem; /* padding left right 16px */ }
.pad--y-0-responsive-tablet{ padding-top: 0rem; padding-bottom: 0rem; /* padding top 96px padding bottom 96px */ }

/* Margin */
.mr--0-responsive-tablet { margin-right: 0; }
.ml--0-responsive-tablet { margin-left: 0; }

/* Gap */
.gap--16--responsive-tablet { gap: 1rem; }
.gap--10--responsive-tablet { gap: 0.625rem; }

/* Flexbox */
.dn-responsive-tablet { display: flex; }
.flex-responsive-tablet { display: flex; }
.flex--column-responsive-tablet { flex-direction: column; }
.items--start-responsive-tablet { align-items: flex-start; }
.flex--1-responsive-tablet { flex: 1; }
.justify--end-responsive-tablet { justify-content: flex-end; }

/* Display */
.display--none-responsive-tablet { display: none; }

/* Grid */
.grid--cols-2-responsive-tablet { grid-template-columns: repeat(2, minmax(0, 1fr)); }

/* Grid Column */
.grid--col-span-2-responsive-tablet { grid-column: span 2 / span 2; }

/* Order */
.order--1-responsive-tablet { order: 1; }
.order--2-responsive-tablet { order: 2; }

/* Background Style */
.bg--center-top-responsive-tablet { background-position: center top; }

/* Position */
.relative-responsive-tablet { position: relative; }

/* Top */
.top--0-responsive-tablet { top: 0rem; }
.top--64-responsive-tablet { top: 4rem; }

/* Bottom */
.bottom--0-responsive-tablet { bottom: 0rem; }
.bottom--80-responsive-tablet { bottom: 5rem; }

/* Left */
.left--0-responsive-tablet { left: 0rem; }

/* Right */
.right--0-responsive-tablet { right: 0rem; }
.right--8-responsive-tablet { right: 0.5rem; }

/* Text Align */
.text--align-right-tablet { text-align: right; }
