  .pad--y--20 {
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
        }

        .pad--y--64 {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }

        .br--30 {
            border-radius: 30px;
            overflow: hidden;
        }

        .bg-f5f5f5 {
            background-color: #f5f5f5;
        }

        .h--387 {
            height: 24.188rem;
        }
        .h--318 {
            height: 19.875rem;
        }
        .h-340 {
            height: 21.25rem;
        }
        .w-585 {
            width: 36.563rem;
        }
        .w--631 {
            width: 39.438rem;
        }

        .mt-minus-50 {
            margin-top: -50px;
        }

        .mt-minus-200 {
            margin-top: -200px;
        }

        [data-tabs-content-wrapper] {}

        [data-tab-content-container] {
            background: linear-gradient(180deg, rgba(239, 239, 240, 0.00) 0%, rgba(239, 239, 240, 0.95) 60%);
            /* backdrop-filter: blur(6px);  */
        }

       .bg-tab-gradient {
            border-radius: 15px;
            background:  url("assets/desktop/your-safety-bg.png") -252.763px -92.418px / 83.959% 175.762% no-repeat;
            }
        [data-your-safety-overlay]{
            background:linear-gradient(
                180deg,
                rgba(251, 91, 162, 0.35) 0%,
                rgba(255, 0, 102, 0.70) 100%
                );
        }
        [data-your-safety-model-overlay]{
            background:  url("assets/images/your-safety-model.png") -252.763px -92.418px / 83.959% 175.762% no-repeat;
        }
