/* Adaptive font size */
html { font-size: 16px; }

/* Colors */

/* Background Colors*/

/* Background Gradients*/

/* Border Colors */

/* Fill Colors */

/* Stroke Colors */

/* Filter Colors */

/* Hover Filter Colors */

/* Caret Colors */

/* Hover Background Colors */

/* Hover Colors */

/* Active State Background Colors*/

/* Active State Filter Colors */

/* Active State Border Colors */

/* Font Size */

/* Line Height */

/* Letter Spacing */ 

/* Word Break */

/* Background Style */
.bg--center-top-responsive-tablet { background-position: center top; }

/* Width */
.w--100-responsive-tablet { width: 100%; }
.w--390-responsive-tablet { width: 24.375rem; }

/* Width Percent */

/* Width (px) */

/* Min Width */

/* Max Width */

/* Height */
.h--274-responsive-tablet { height: 17.125rem; }

/* Height Percent */

/* Height (px) */

/* Min Height */

/* Max Height */

/* Padding */
.pad--0-responsive-tablet { padding: 0rem; /* padding top bottom left right 0px */ }
.pad--top--52-responsive-tablet { padding-top: 3.28rem;}
.pad--y--24-responsive-tablet { padding-top: 1.5rem; padding-bottom: 1.5rem; /* padding top bottom 24px */ }
.pad--x--0-responsive-tablet { padding-left: 0rem; padding-right: 0rem; /* padding left right 0px */ }
.pad--x--16-responsive-tablet { padding-left: 1rem; padding-right: 1rem; /* padding left right 16px */ }
.pad--y-0-responsive-tablet{ padding-top: 0rem; padding-bottom: 0rem; /* padding top 96px padding bottom 96px */ }

/* Margin */

/* Display */
.display-none--responsive-tablet { display: none; }
.display-flex--responsive-tablet { display: flex; }
.display-grid--responsive-tablet { display: grid; }

/* Gap */
.gap--16--responsive-tablet { gap: 1rem; }

/* Flexbox */
.flex--column-responsive-tablet { flex-direction: column; }
.items--start-responsive-tablet { align-items: flex-start; }

/* Grid */
.grid--cols-2-responsive-tablet { grid-template-columns: repeat(2, minmax(0, 1fr)); }

/* Grid Column */
.grid--col-span-2-responsive-tablet { grid-column: span 2 / span 2; }

/* Order */
.order--1-responsive-tablet { order: 1; }
.order--2-responsive-tablet { order: 2; }

/* Position */

/* Top */
.top--64-responsive-tablet { top: 4rem; }

/* Bottom */
.bottom--80-responsive-tablet { bottom: 5rem; }

/* Left */
.left--0-responsive-tablet { left: 0rem; }

/* Right */
.right--8-responsive-tablet { right: 0.5rem; }

/* Z-Index */

/* Opacity */

/* Hover Opacity */

/* Object Fit */

/* Backdrop Filter */

/* Box Shadow */

/* Drop Shadow */

/* Text Shadow */

/* Overflow */

/* Cursor Style */ 

/* Border */

/* Border Width */
[data-active="true"] [data-settings-menu-text] {
    color: var(--default-paragraph-color);
}