:root{
    --basewhite: rgba(255, 255, 255, 1);
    --gray-200:  rgba(234, 236, 240, 1);
    --gray-500: rgba(102, 112, 133, 1);
    --gray-900: rgba(16, 24, 40, 1);
    --brandgreen: rgba(7, 244, 104, 1);
    --text-md-medium-font-family: "Poppins", Helvetica;
    --text-md-medium-font-weight: 500;
    --text-md-medium-font-size: 16px;
    --text-md-medium-letter-spacing: 0px;
    --text-md-medium-line-height: 24px;
    --text-md-medium-font-style: normal;
    --text-xs-bold-font-family: "Poppins", Helvetica;
    --text-xs-bold-font-weight: 700;
    --text-xs-bold-font-size: 12px;
    --text-xs-bold-letter-spacing: 0px;
    --text-xs-bold-line-height: 18px;
    --text-xs-bold-font-style: normal;
    --text-sm-semibold-font-family: "Poppins", Helvetica;
    --text-sm-semibold-font-weight: 600;
    --text-sm-semibold-font-size: 14px;
    --text-sm-semibold-letter-spacing: 0px;
    --text-sm-semibold-line-height: 20px;
    --text-sm-semibold-font-style: normal;
    --text-md-regular-font-family: "Poppins", Helvetica;
    --text-md-regular-font-weight: 400;
    --text-md-regular-font-size: 16px;
    --text-md-regular-letter-spacing: 0px;
    --text-md-regular-line-height: 24px;
    --text-md-regular-font-style: normal;
    --text-sm-medium-font-family: "Poppins", Helvetica;
    --text-sm-medium-font-weight: 500;
    --text-sm-medium-font-size: 14px;
    --text-sm-medium-letter-spacing: 0px;
    --text-sm-medium-line-height: 20px;
    --text-sm-medium-font-style: normal;
    --text-lg-medium-font-family: "Poppins", Helvetica;
    --text-lg-medium-font-weight: 500;
    --text-lg-medium-font-size: 18px;
    --text-lg-medium-letter-spacing: 0px;
    --text-lg-medium-line-height: 28px;
    --text-lg-medium-font-style: normal;
    --menu-shadow-blue: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
    --shadows-shadow-sm: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
    --shadows-shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}