/*
* GLOBAL CSS VARIABLES
*/
:root {
	/* Text Colours */
	--color-mercury: #e7e5e4; /* new class, old class is below this */
	--color-iron-gray: #e7e5e4; /* should be --color-mercury */
	--color-desert-storm:#f5f5f4; /* new class, old class is below this */
	--color-wild-sand-gray: #f5f5f4; /* should be --color-desert-storm */
	--color-athens-gray: #fcfcfd; /* new class, old class is below this */
	--color-athens-gray2: #EAECF0; /* new class, old class is below this */
	--color-light-athens-gray: #fcfcfd; /* should be --color-athens-gray */
	--color-chartreuse: #9fff02; /* new class, old class is below this */
	--color-light-warm-green: #9fff02; /* should be --color-chartreuse */
	--color-very-dark-ebony: #101828; /* duplicate of --color-ebony */ 
	--color-sunset-orange: #ff4848; /* new class, old class is below this */
	--color-light-warm-red: #ff4848; /* should be --color-sunset-orange */
	--color-heliotrope: #f093fb; /* new class, old class is below this */
	--color-light-warm-redish-magenta: #f093fb; /* should be --color-heliotrope */
	--color-ebony: #101828; 
	--color-white-rock: #e9e5d3; 
	--color-cloudy: #a9a29d;
	--color-shuttle-gray: #5f6369; /* new class, old class is below this */
	--dark-cold-azure: #5f6369; /* should be --color-shuttle-gray */
    --light-cold-azure: #dee5ec; /* duplicate of --color-mystic */
    --color-botticelli: #bfcedd;
    --color-outer-space: #303437;
    --color-lemon: #FCE40D;
    --color-blue: #3300ff;
    --color-blue-05: rgba(51, 0, 255, 0.05);
	--color-japanese-laurel: #008000; /* new class, old class is below this */
    --color-green: green; /* should be --color-japanese-laurel */ /* #008000 */
    --color-catskill-white: #eff3f8;
	--color-blue-gem: #2C0DA7;
    --color-mystic: #dee5ec;
	--color-white: #fff;
	--color-black: #000;
	--color-white-0-15: rgba(255, 255, 255, 0.15); /* #FFFFFF26 */
	--color-dusty-gray: #979292;
	--color-spring-green: #07F468;
	--color-black-squeeze: #f0f4f9;
	--color-rose: #F06;
	--color-blue: #30f;
	--color-shamrock: #23D997;
	--color-cinnabar: #E54335;
	--color-pomegranate: #F24822;
	--color-periwinkle-gray: #B9CEE2;
	--color-brilliant-rose: #FB5BA2;
	--color-pampas: #FDFDFC;
	--color-link-water: #F2F6FC;
	--color-wewak-70: #f3acb070;
	--color-sandstone: #79716b;
	--color-lavender-rose: #ff8ddf;
	--color-dune: #292524;
}
