/* Tier Card Slider */
[data-tier-card-slider-wrapper] {
  display: block;
  padding: 0.5rem;
  width: calc(100vw - 8.125rem);
  overflow: hidden;
}

[data-tier-card-slider-wrapper] [data-tier-card-slider] {

}

[data-tier-card-slider-wrapper] [data-tier-card-slider] [data-tier-card-slide] {
  flex: none;
}