/* Tier Card Slider (No JS) */
.css-scroll[data-tier-card-slider-wrapper] {
  display: block;
  padding: 0.5rem;
}

.css-scroll[data-tier-card-slider-wrapper] [data-tier-card-slider] {
  width: calc(100vw - 8.125rem);
  scroll-snap-type: x mandatory;
}

.css-scroll[data-tier-card-slider-wrapper] [data-tier-card-slider] [data-tier-card-slide] {
  scroll-snap-align: center;
  flex: none;
}

/* Tier Card Slider (Splide) */
.tier-card-splide {
  display: block;
  width: calc(100vw - 8.125rem);
}

.tier-card-splide .splide__track {
  padding: 0.5rem;
}

[data-gallery-poster-wrap] [data-img-item-wrapper],
[data-thumbail-items] [data-img-item-wrapper],
[data-gallery-poster-wrap] input:checked+[data-img-item-wrapper],
[data-thumbail-items] input:checked+[data-img-item-wrapper] {
  width: 6.42238rem;
  height: 3.6125rem;
}