html {
  font-size: 16px
}

.bg--center-top-responsive-tablet {
  background-position: center top
}

.w--100-responsive-tablet {
  width: 100%
}

.w--390-responsive-tablet {
  width: 24.375rem
}

.h--274-responsive-tablet {
  height: 17.125rem
}

.pad--0-responsive-tablet {
  padding: 0
}

.pad--top--52-responsive-tablet {
  padding-top: 3.28rem
}

.pad--y--24-responsive-tablet {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.pad--x--0-responsive-tablet {
  padding-left: 0;
  padding-right: 0
}

.pad--x--16-responsive-tablet {
  padding-left: 1rem;
  padding-right: 1rem
}

.pad--y-0-responsive-tablet {
  padding-top: 0;
  padding-bottom: 0
}

.display-none--responsive-tablet {
  display: none
}

.display-flex--responsive-tablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.display-grid--responsive-tablet {
  display: grid
}

.gap--16--responsive-tablet {
  gap: 1rem
}

.flex--column-responsive-tablet {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.items--start-responsive-tablet {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.grid--cols-2-responsive-tablet {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.grid--cols-3-responsive-tablet {
  grid-template-columns: repeat(3, minmax(0, 1fr))
}

.grid--col-span-2-responsive-tablet {
  grid-column: span 2/span 2
}

.order--1-responsive-tablet {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}

.order--2-responsive-tablet {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2
}

.top--64-responsive-tablet {
  top: 4rem
}

.bottom--80-responsive-tablet {
  bottom: 5rem
}

.left--0-responsive-tablet {
  left: 0
}

.right--8-responsive-tablet {
  right: .5rem
}

[data-active=true] [data-settings-menu-text] {
  color: var(--default-paragraph-color)
}

[data-active=true] [data-layer=arrow-narrow-right] img {
  -webkit-filter: brightness(0) saturate(100%) invert(22%) sepia(31%) saturate(534%) hue-rotate(179deg) brightness(93%) contrast(90%);
  filter: brightness(0) saturate(100%) invert(22%) sepia(31%) saturate(534%) hue-rotate(179deg) brightness(93%) contrast(90%)
}

[data-validate-password] {
  padding: .25rem .5rem .5rem .5rem
}

[data-password-match] {
  padding: .375rem .5rem 0 .5rem
}

.bg-white-70-responsive-tablet {
  background: rgba(255, 255, 255, .7)
}

.bg-black-70-responsive-tablet {
  background: rgba(0, 0, 0, .7)
}

.bg--center-top-responsive-tablet {
  background-position: center top
}

.fs--30-responsive-tablet {
  font-size: 1.875rem
}

.lh--38-responsive-tablet {
  line-height: 2.375rem
}

.w--85vw-responsive-tablet {
  width: 85vw
}

.w--100-responsive-tablet {
  width: 100%
}

.w--auto-responsive-tablet {
  width: auto
}

.w--72-responsive-tablet {
  width: 4.5rem
}

.w--99-responsive-tablet {
  width: 6.188rem
}

.w--120-responsive-tablet {
  width: 7.5rem
}

.w--171-responsive-tablet {
  width: 10.688rem
}

.w--177-responsive-tablet {
  width: 11.063rem
}

.w--180-responsive-tablet {
  width: 11.25rem
}

.w--186-responsive-tablet {
  width: 11.625rem
}

.w--257-responsive-tablet {
  width: 16.063rem
}

.w--282-responsive-tablet {
  width: 17.625rem
}

.w--500-responsive-tablet {
  width: 31.25rem
}

.w--556-responsive-tablet {
  width: 34.75rem
}

.w--150-responsive-tablet {
  width: 150px
}

.w--130-responsive-tablet {
  width: 130px
}

.w--115-responsive-tablet {
  width: 140px
}

.w--120-responsive-tablet {
  width: 120px
}

.w--vw--calc--90-responsive-tablet {
  width: calc(100vw - 90px)
}

.w--fit--content-responsive-tablet {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}

.w--180-responsive-tablet {
  width: 180px
}

.w--160-responsive-tablet {
  width: 160px
}

.w--150-responsive-tablet {
  width: 150px
}

.w--80-responsive-tablet {
  width: 80px
}

.w--150-responsive-tablet {
  width: 150px
}

.mr--70-responsive-tablet {
  margin-right: -70px
}

.h--screen-responsive-tablet {
  height: 100vh
}

.h--auto-responsive-tablet {
  height: auto
}

.h--percent--100-responsive-tablet {
  height: 100%
}

.h--100-responsive-tablet {
  height: 6.25rem
}

.h--171-responsive-tablet {
  height: 10.688rem
}

.h--213-responsive-tablet {
  height: 13.313rem
}

.pad--10-responsive-tablet {
  padding: .625rem
}

.pad--x--0-responsive-tablet {
  padding-left: 0;
  padding-right: 0
}

.pad--x--16-responsive-tablet {
  padding-left: 1rem;
  padding-right: 1rem
}

.pad--left--16-responsive-tablet {
  padding-left: 1rem
}

.pad--left--32-responsive-tablet {
  padding-left: 2rem
}

.pad--top--24-responsive-tablet {
  padding-top: 1.5rem
}

.pad--top--40-responsive-tablet {
  padding-top: 2.5rem
}

.pad--top--0-responsive-tablet {
  padding-top: 0
}

.pad--0-responsive-tablet {
  padding: 0
}

.pad--top--52-responsive-tablet {
  padding-top: 3.28rem
}

.pad--y--24-responsive-tablet {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.pad--x--0-responsive-tablet {
  padding-left: 0;
  padding-right: 0
}

.pad--x--24-responsive-tablet {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.pad--y-0-responsive-tablet {
  padding-top: 0;
  padding-bottom: 0
}

.pad--bottom--70-responsive-tablet {
  padding-bottom: 4.375rem
}

.pad--bottom--8-responsive-tablet {
  padding-bottom: .5rem
}

.pad--right--24-responsive-tablet {
  padding-right: 1.5rem
}

.m--left--auto-responsive-tablet {
  margin-left: auto
}

m-left-responsive-tablet {
  margin-left: -40px
}

.display--none-responsive-tablet {
  display: none
}

.display--flex-responsive-tablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.gap--24-responsive-tablet {
  gap: 1.5rem
}

.flex--wrap-responsive-tablet {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.flex--row-responsive-tablet {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row
}

.flex--column-responsive-tablet {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.flex--reverse--column-responsive-tablet {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse
}

.items--start-responsive-tablet {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.items--center-responsive-tablet {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.justify--center-responsive-tablet {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.flex--max-responsive-tablet {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0
}

.flex--none-responsive-tablet {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}

.fixed--responsive-tablet {
  position: fixed
}

.absolute--responsive-tablet {
  position: absolute
}

.sticky--responsive-tablet {
  position: sticky
}

.relative--responsive-tablet {
  position: relative
}

.top--0--responsive-tablet {
  top: 0
}

.right--0--responsive-tablet {
  right: 0
}

.right--auto--responsive-tablet {
  right: auto
}

.bottom--0--responsive-tablet {
  bottom: 0
}

.neg--left--5-8--responsive-tablet {
  left: -5.8rem
}

.neg--left--8-3--responsive-tablet {
  left: -8.3rem
}

.z--10000-responsive-tablet {
  z-index: 10000
}

.z--10010-responsive-tablet {
  z-index: 10010
}

.bg--blur--5-responsive-tablet {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px)
}

.bg--blur--25-responsive-tablet {
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px)
}

.sh--none-responsive-tablet {
  -webkit-box-shadow: none;
  box-shadow: none
}

.overflow--x--auto-resposnive-tablet {
  overflow-x: auto
}

.overflow--x--hidden-resposnive-tablet {
  overflow-x: hidden
}

[data-submenu] [data-submenu-item][data-has-submenu=true]>[data-arrow] {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}

[data-show-hide-container][data-show-on-desktop=true],
[data-show-hide-container][data-show-on-desktop=true][data-show-on-mobile=true] {
  display: none
}

[data-show-hide-container][data-show-on-desktop=true][data-show-on-tablet=true][data-show-on-mobile=true],
[data-show-hide-container][data-show-on-tablet=true],
[data-show-hide-container][data-show-on-tablet=true][data-show-on-mobile=true] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

[data-show-hide-container][data-show-on-mobile=true] {
  display: none
}
/*# sourceMappingURL=../css/map/dashboard-styles-tablet.css.map */
