html {
  font-size: 16px
}

.bg--col--white--responsive-mobile-portrait {
  background: #fff
}

.bg--col--white--70--responsive-mobile-portrait {
  background: rgba(255, 255, 255, .7)
}

.bg--col--athens-gray--70--responsive-mobile-portrait {
  background-color: rgba(249, 250, 251, .7)
}

.fs--18-responsive-mobile-portrait {
  font-size: 1.125rem
}

.fs--36-responsive-mobile-portrait {
  font-size: 2.25rem
}

.lh--28-responsive-mobile-portrait {
  line-height: 1.75rem
}

.lh--44-responsive-mobile-portrait {
  line-height: 2.75rem
}

.bg--center-top-responsive-mobile-portrait {
  background-position: center top
}

.w--32--responsive-mobile-portrait {
  width: 2rem
}

.w--100-responsive-mobile-portrait {
  width: 100%
}

.w--274-responsive-mobile-portrait {
  width: 17.1525rem
}

.w--300-responsive-mobile-portrait {
  width: 18.75rem
}

.vw--100--responsive-mobile-portrait {
  width: 100vw
}

.h--32--responsive-mobile-portrait {
  height: 2rem
}

.h--48-responsive-mobile-portrait {
  height: 3rem
}

.h--211-responsive-mobile-portrait {
  height: 13.1875rem
}

.pad--0-responsive-mobile-portrait {
  padding: 0
}

.pad--top--64-responsive-mobile-portrait {
  padding-top: 4rem
}

.pad--bottom--24-responsive-mobile-portrait {
  padding-bottom: 1.5rem
}

.pad--x--0-responsive-mobile-portrait {
  padding-left: 0;
  padding-right: 0
}

.pad--x--16-responsive-mobile-portrait {
  padding-left: 1rem;
  padding-right: 1rem
}

.pad--y-0-responsive-mobile-portrait {
  padding-top: 0;
  padding-bottom: 0
}

.pad--y--8--responsive-mobile-portrait {
  padding-top: .5rem;
  padding-bottom: .5rem
}

.display-none--responsive-mobile-portrait {
  display: none
}

.display-flex--responsive-mobile-portrait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.display-grid--responsive-mobile-portrait {
  display: grid
}

.gap--16--responsive-mobile-portrait {
  gap: 1rem
}

.dn-responsive-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.flex--column-responsive-mobile-portrait {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.items--start-responsive-mobile-portrait {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.justify--between-responsive-mobile-portrait {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.flex--1-responsive-mobile-portrait {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.grid--cols-1-responsive-mobile-portrait {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid--cols-4--responsive-mobile-portrait {
  grid-template-columns: repeat(4, 1fr)
}

.grid--col-span-2-responsive-mobile-portrait {
  grid-column: span 2/span 2
}

.flex-column-reverse--responsive-mobile-portrait {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse
}

.order--1-responsive-mobile-portrait {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}

.order--2-responsive-mobile-portrait {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2
}

.fixed--responsive-mobile-portrait {
  position: fixed
}

.absolute-responsive-mobile-portrait {
  position: absolute
}

.top--neg-8-responsive-mobile-portrait {
  top: -.5rem
}

.right--16-responsive-mobile-portrait {
  right: 1rem
}

.tl--responsive-mobile-portrait {
  text-align: left
}

.top--0--responsive-mobile-portrait {
  top: 0
}

.top--34-responsive-mobile-portrait {
  top: 2.125rem
}

.bottom--32-responsive-mobile-portrait {
  bottom: 2rem
}

.left--0--responsive-mobile-portrait {
  left: 0
}

.left--16-neg-responsive-mobile-portrait {
  left: -1rem
}

.right--0-responsive-mobile-portrait {
  right: 0
}

.bg--blur--25--responsive-mobile-portrait {
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px)
}

.sh--none--responsive-mobile-portrait {
  -webkit-box-shadow: none;
  box-shadow: none
}

[data-floating-panel-wrapper] {
  display: none !important
}

[data-sidebar-main-wrapper][data-is-active=false] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0
}

[data-sidebar-main-wrapper][data-is-active=true] {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0
}

[data-main-menu-item] {
  min-width: 4.5rem;
  min-height: 4.5rem
}

[data-submenu-container][hidden] {
  -webkit-transform: translateX(100%);
  transform: translateX(100%)
}

[data-submenu-container] {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}

[data-submenu] [data-submenu-item] {
  padding: .375rem .5rem
}

[data-submenu] [data-submenu-item]>span.gap--12 {
  gap: .375rem
}

[data-submenu] [data-submenu-item]>span>.fs--16 {
  font-size: .875rem
}

[data-submenu] [data-submenu-item]>span>.lh--24 {
  line-height: 1.25rem
}

[data-submenu] [data-submenu-item][data-has-submenu=true]>[data-arrow] {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}

[data-notifications-container][hidden] {
  -webkit-transform: translateX(100%);
  transform: translateX(100%)
}

[data-notifications-container] {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
/*# sourceMappingURL=../css/map/dashboard-styles-mobile-portrait.css.map */
