  .pad--y--20 {
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
        }

        .pad--y--64 {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }

        .br--30 {
            border-radius: 30px;
            overflow: hidden;
        }

        .bg-f5f5f5 {
            background-color: #f5f5f5;
        }

        .h--387 {
            height: 24.188rem;
        }
        .h--318 {
            height: 19.875rem;
        }
        .h-340 {
            height: 21.25rem;
        }
        .w-585 {
            width: 36.563rem;
        }
        .w--631 {
            width: 39.438rem;
        }

        .mt-minus-50 {
            margin-top: -50px;
        }

        .mt-minus-200 {
            margin-top: -200px;
        }

        /* [data-tabs-content-wrapper] {} */

        [data-tab-content-container] {
            background: linear-gradient(180deg, rgba(239, 239, 240, 0.00) 0%, rgba(239, 239, 240, 0.95) 60%);
            /* backdrop-filter: blur(6px);  */
        }

       .bg-tab-gradient {
            border-radius: 15px;
            background:  url("assets/desktop/your-safety-bg.png") -252.763px -92.418px / 83.959% 175.762% no-repeat;
            }
        [data-your-safety-overlay]{
            background:linear-gradient(
                180deg,
                rgba(251, 91, 162, 0.35) 0%,
                rgba(255, 0, 102, 0.70) 100%
                );
        }
        [data-your-safety-model-overlay]{
            background:  url("assets/images/your-safety-model.png") -252.763px -92.418px / 83.959% 175.762% no-repeat;
        }


        @media screen and (max-width:1365px) and (min-width:1010px) {
            .w-50-responsive-tablet-landscape {
                width: 50%;
            }
            [ data-tab-content-container]{
                display: flex;
                align-items: end;
            }
            #media [ data-tab-content-container]{
                margin-top: unset;
            }
            [data-your-safety-container]{
                padding: 0 !important;
            }
            .br-0--responsive-tablet-landscape {
                border-radius: unset;
            }
            [data-stop-jumping-tabs-wrapper] button{
                min-width: max-content;
                min-height: max-content;
                padding: 0.5rem 1.25rem;
            }
        }

        @media screen and (max-width:1009px) and (min-width:768px) {
            [data-your-safety-wrapper]{
                background-position: center;
                background-size: cover;
            }
            [data-your-safety-content]{
                width: 100%;
            }
            [data-your-safety-model-overlay]{
                display: none;
            }
            .w-50-responsive-tablet {
                width: 50%;
            }
            [data-your-safety-container]{
                padding: 0 !important;
            }
            .br-0--responsive-tablet {
                border-radius: unset;
            }
            [data-your-safety-container]{
                padding: 0 !important;
            }
             #media [ data-tab-content-container]{
                margin-top: unset;
            }
            [data-stop-jumping-tabs-wrapper] button{
                min-width: max-content;
                min-height: max-content;
            }
            [data-stop-jumping-tabs-wrapper] button{
                min-width: max-content;
                min-height: max-content;
                padding: 0.5rem 1.25rem;
            }
        }
        @media screen and (max-width:767px) {
            .w-50-responsive-mobile {
                width: 50%;
            }
            [data-your-safety-wrapper]{
                background-position: center;
                background-size: cover;
                height: unset;
                padding-bottom: 3rem;
                padding-top: 3rem;
            }

            [data-your-safety-content]{
                width: 100%;
            }
            [data-your-safety-model-overlay]{
                display: none;
            }
            .br-0--responsive-mobile {
                border-radius: unset;
            }
            .fs--20--responsive-mobile{
                font-size: 1.25rem;
            }
            .lh--30--responsive-mobile{
                line-height: 1.875rem;
            }
            .fs--14--responsive-mobile{
                font-size: 0.875rem;
            }
            .lh--20--responsive-mobile{
                line-height: 1.25rem;
            }
            .fw4--responsive-mobile{
                font-weight: 400;
            }
            [data-your-safety-container]{
                padding: 0 !important;
            }
            .pad--x--16--responsive-mobile{
                padding-left: 1rem;
                padding-right: 1rem;
            }
            [data-testimonial-card]{
                width: 240px !important;
            }
            .fs--24--responsive-mobile{
                font-size: 1.5rem;
            }
            .lh--32--responsive-mobile{
                line-height: 2rem;
            }
            .mt-minus-64--responsive-mobile{
                margin-top: -4rem;
            }
            [data-membership-tab-content]{
                padding: 4rem 1.25rem 1.25rem 1.25rem !important;
            }
            .w-100-responsive-mobile{
                width: 100%;
            }
            [data-calls-events-content],[data-coming-soon-tab-content]{
                padding: 2.5rem 1.25rem 1.25rem 1.25rem !important;
            }
            [data-stop-jumping-tabs-wrapper]{
                overflow-x: auto;
                justify-content: start;
            }
            [data-stop-jumping-tabs-wrapper] button{
                min-width: max-content;
                min-height: max-content;
                padding: 0.5rem 1.25rem;
            }
             .flex-column-reverse-mobile     {
            flex-direction: column-reverse;
        }

        }