/* Adaptive font size */
html { font-size: 16px; }

/* Font Size */

/* Line Height */

/* Width */
.w--100-responsive-mobile-sm { width: 100%; }
.w--104-responsive-mobile-sm { width: 6.5rem; }

/* Height */

/* Display */

/* Flexbox */
.flex--column-responsive-mobile-sm { flex-direction: column; }
.items--start-responsive-mobile-sm { align-items: flex-start; }

/* Gap */
.gap--10--responsive-mobile-sm{ gap: 0.625rem; }

/* Padding */

/* Margin */

/* Grid */

/* Grid Column */

/* Order */

/* Position */

/* Background Style */

/* Text Align */

/* Top */

/* Bottom */

/* Left */

/* Right */

/* Text Align */

/* Overflow */

/* Text overflow */

/* Nice Select */
