/* Adaptive font size */
html { font-size: 16px; }

/* Width */
/*.w--100-responsive-tablet { width: 100%; }*/
.w--423-responsive-tablet { width: 26.438rem; }
.w--375-responsive-tablet { width: 23.438rem; }

/* Padding */
.pad--0-responsive-tablet { padding: 0rem; /* padding top bottom left right 0px */ }
.pad--y--24-responsive-tablet { padding-top: 1.5rem; padding-bottom: 1.5rem; /* padding top bottom 24px */ }
.pad--x--0-responsive-tablet { padding-left: 0rem; padding-right: 0rem; /* padding left right 0px */ }
.pad--x--16-responsive-tablet { padding-left: 1rem; padding-right: 1rem; /* padding left right 16px */ }

/* Gap */
.gap--16--responsive-tablet { gap: 1rem; }

/* Flexbox */
.flex--column-responsive-tablet { flex-direction: column; }
.items--start-responsive-tablet { align-items: flex-start; }

/* Grid */
.grid--cols-2-responsive-tablet { grid-template-columns: repeat(2, minmax(0, 1fr)); }

/* Grid Column */
.grid--col-span-2-responsive-tablet { grid-column: span 2 / span 2; }

/* Order */
.order--1-responsive-tablet { order: 1; }
.order--2-responsive-tablet { order: 2; }

/* Background Style */
.bg--size-auto-responsive-tablet { background-size:auto; }

/* Top */
.top--0-responsive-tablet { top: 0; }

/* Bottom */
.bottom--0-responsive-tablet { bottom: 0; }
